
input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div {
    background-color: rgba(255, 255, 255, 0.25);
    width: 40%;
    margin: 0px auto;
    margin-top: 70px;
    padding: 50px;
    padding-top: 20px;
}



.main-div input {
    display: block;
    border: 1px solid rgba(204, 204, 204, 0.58);
    border-radius: 5px;
    background-color: #222222;
    color: rgba(217, 215, 215, 0.82);
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus input:hover input:active{
    background-color: #222222;
    border: 1px solid #777;
}

.main-div button {
    background-color: rgba(208, 177, 60, 0.77);
    color: #222222;
    border-color: rgba(34, 34, 34, 0.16);
    border-radius: 5px;
    padding: 15px;
    margin-left: 0px;
    display: block;
    width: 100%;

}

.main-div button:hover {
    background-color: #222222;
    color: #d9d7d7;
    border-color: transparent;
    cursor: pointer;
}
