/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: #3c3f41;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
}
#charts {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.34);
  text-align: center;
}

#notAllowedMessage {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.34);
  text-align: center;
}

.navbar-item {
    padding-left: 700px;
    font-weight: bold;
    color: rgba(208, 177, 60, 0.73);
}

a {
    font-weight: bold;
    color: rgba(208, 177, 60, 0.73);
}
#notAllowedMessage {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.34);
    text-align: center;
}

select{
    background-color: #222222;
    color: #d9d7d7;
    margin-left: 10px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
}

.navbar {
    background-color: #222222;
}
.image {
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 5px;
    width: 20%;
    height: 70%;
}


.btn-secondary {
    margin-left: 10px;
    background-color: rgba(208, 177, 60, 0.73);
    color: #222222;
    font-weight: bold;
    border-color: rgba(34, 34, 34, 0.16);
}

.form-inline {
    margin-top: 10px;
    align-content: center;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.data {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.data:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.data .header {
    background-color: #ADD8E6;
    color: white;
    font-size: 25px;
}

.data li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.data .grey {
    background-color: #eee;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
